name: Deploy Node Application

on: 
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}     

      - name: Build Docker Image
        run: docker build -t barathravichandran/dsatrackernodeapp:latest .

      - name: Push Image to Docker Hub
        run: docker push barathravichandran/dsatrackernodeapp:latest 


  deploy:
    needs: build
    runs-on: self-hosted 
    steps:
      - name: Pull Image from Docker Hub
        run: docker pull barathravichandran/dsatrackernodeapp:latest 

      - name: Stop & Remove Old Container (If Exists)
        run: docker rm -f dsatracker-node-container || true

      - name: Run Docker Container
        run: docker run -d -p 5000:5000 --name dsatracker-node-container -e MONGO_URI="${{ secrets.MONGO_URI }}" barathravichandran/dsatrackernodeapp:latest
